<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myandroidapp.java_notes_apk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Java_notes_apk">
        <activity android:name=".IfJavaActivity2"></activity>
        <activity android:name=".DataJavaActivity2" />
        <activity android:name=".OpJavaActivity2" />
        <activity android:name=".LoopJavaActivity2" />
        <activity android:name=".OopJavaActivity2" />
        <activity android:name=".VarJavaActivity2" />
        <activity android:name=".IntroJavaActivity2" />
        <activity android:name=".ChaptersActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>